body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1162px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  display:flex;
}
#u1165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:1257px;
  top:18px;
  width:22px;
  height:22px;
  display:flex;
}
#u1166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:22px;
  width:39px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u1167 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1167_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1168_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-5px;
  width:200px;
  height:60px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:180px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1168_img.mouseOver {
}
#u1168.mouseOver {
}
#u1168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-5px;
  width:200px;
  height:60px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:180px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1169_img.mouseOver {
}
#u1169.mouseOver {
}
#u1169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-5px;
  width:200px;
  height:68px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:180px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1170_img.mouseOver {
}
#u1170.mouseOver {
}
#u1170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-5px;
  width:200px;
  height:60px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:180px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1171_img.mouseOver {
}
#u1171.mouseOver {
}
#u1171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1172_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-5px;
  width:200px;
  height:64px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:180px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1172_img.mouseOver {
}
#u1172.mouseOver {
}
#u1172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-5px;
  width:200px;
  height:1951px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:436px;
  width:180px;
  height:1931px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u1173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1173_img.mouseOver {
}
#u1173.mouseOver {
}
#u1173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:21px;
  width:99px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1174 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1174_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:20px;
  width:18px;
  height:18px;
  display:flex;
}
#u1175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:21px;
  width:29px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u1176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1176_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:35px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:12px;
  width:28px;
  height:35px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-5px;
  width:200px;
  height:60px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:180px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1178_img.mouseOver {
}
#u1178.mouseOver {
}
#u1178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-5px;
  width:200px;
  height:60px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:180px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1179_img.mouseOver {
}
#u1179.mouseOver {
}
#u1179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-5px;
  width:200px;
  height:60px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:-278px;
  top:332px;
  width:180px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1180_img.mouseOver {
}
#u1180.mouseOver {
}
#u1180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-5px;
  width:200px;
  height:64px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:356px;
  width:180px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1181_img.mouseOver {
}
#u1181.mouseOver {
}
#u1181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-5px;
  width:200px;
  height:64px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:180px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1182_img.mouseOver {
}
#u1182.mouseOver {
}
#u1182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:2px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:118px;
  width:820px;
  height:1px;
  display:flex;
}
#u1183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:86px;
  width:97px;
  height:28px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1004px;
  width:117px;
  height:37px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u1185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1004px;
  width:117px;
  height:37px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u1186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:533px;
  width:82px;
  height:20px;
  display:flex;
  color:#666666;
}
#u1187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:348px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1188_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:348px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:348px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:525px;
  width:1110px;
  height:348px;
  display:flex;
}
#u1188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1188_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:348px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1188.disabled {
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:71px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:533px;
  width:1079px;
  height:71px;
  display:flex;
}
#u1189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:956px;
  width:82px;
  height:20px;
  display:flex;
  color:#666666;
}
#u1190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1191_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:948px;
  width:1110px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
}
#u1191 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1191_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u1191.disabled {
}
.u1191_input_option {
  font-size:14px;
}
#u1192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  line-height:24px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:617px;
  width:1079px;
  height:168px;
  display:flex;
  font-size:14px;
  color:#999999;
  line-height:24px;
}
#u1192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:149px;
  width:80px;
  height:20px;
  display:flex;
  color:#666666;
}
#u1193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1194_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:141px;
  width:1110px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
}
#u1194 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1194_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u1194.disabled {
}
.u1194_input_option {
  font-size:14px;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:194px;
  width:82px;
  height:20px;
  display:flex;
  color:#666666;
}
#u1195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1196_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1196_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:186px;
  width:1110px;
  height:32px;
  display:flex;
}
#u1196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1196_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1196.disabled {
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:237px;
  width:82px;
  height:20px;
  display:flex;
  color:#666666;
}
#u1197 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1198_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:231px;
  width:1110px;
  height:32px;
  display:flex;
}
#u1198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1198_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1198.disabled {
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:282px;
  width:82px;
  height:20px;
  display:flex;
  color:#666666;
}
#u1199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1200_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1200_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:320px;
  width:1110px;
  height:32px;
  display:flex;
}
#u1200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1200_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200.disabled {
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:414px;
  width:82px;
  height:20px;
  display:flex;
  color:#666666;
}
#u1201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1202_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:408px;
  width:1110px;
  height:32px;
  display:flex;
}
#u1202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1202_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202.disabled {
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:459px;
  width:82px;
  height:20px;
  display:flex;
  color:#666666;
}
#u1203 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1204_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:453px;
  width:1110px;
  height:32px;
  display:flex;
}
#u1204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1204_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204.disabled {
}
#u1205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1205_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:276px;
  width:1110px;
  height:32px;
  display:flex;
}
#u1205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1205_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205.disabled {
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:326px;
  width:99px;
  height:20px;
  display:flex;
  color:#666666;
}
#u1206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1207_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:363px;
  width:1110px;
  height:32px;
  display:flex;
}
#u1207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1207_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207.disabled {
}
#u1208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:369px;
  width:82px;
  height:20px;
  display:flex;
  color:#666666;
}
#u1208 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:898px;
  width:49px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1209 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:893px;
  width:32px;
  height:31px;
  display:flex;
}
#u1210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:893px;
  width:32px;
  height:31px;
  display:flex;
}
#u1211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:893px;
  width:32px;
  height:31px;
  display:flex;
}
#u1212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:893px;
  width:32px;
  height:31px;
  display:flex;
}
#u1213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:893px;
  width:32px;
  height:31px;
  display:flex;
}
#u1214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(75, 121, 2, 0.447058823529412);
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:901px;
  width:24px;
  height:16px;
  display:flex;
  color:rgba(75, 121, 2, 0.447058823529412);
}
#u1215 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1215_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
