body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1200px;
  background:inherit;
  background-color:rgba(102, 153, 255, 0.0470588235294118);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1200px;
  display:flex;
}
#u28320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:1114px;
}
#u28321 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:43px;
  width:613px;
  height:1114px;
  display:flex;
}
#u28321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28322 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:222px;
  width:422px;
  height:756px;
}
#u28322_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:756px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28322_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:756px;
}
#u28323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:756px;
  display:flex;
}
#u28323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:112px;
  background:inherit;
  background-color:rgba(70, 132, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28324 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:225px;
  width:421px;
  height:112px;
  display:flex;
}
#u28324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:22px;
}
#u28325 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:227px;
  width:421px;
  height:22px;
  display:flex;
}
#u28325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'站酷快乐体2016修订版 Bold', '站酷快乐体2016修订版', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u28326 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:263px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'站酷快乐体2016修订版 Bold', '站酷快乐体2016修订版', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u28326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28326_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u28327 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:261px;
  width:25px;
  height:25px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u28327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u28328 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:262px;
  width:24px;
  height:24px;
  display:flex;
}
#u28328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u28329 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:261px;
  width:25px;
  height:25px;
  display:flex;
}
#u28329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u28330 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:301px;
  width:37px;
  height:25px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u28330 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28330_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28331 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:302px;
  width:31px;
  height:21px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28331 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28331_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28332 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:302px;
  width:31px;
  height:21px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28332_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28333 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:302px;
  width:31px;
  height:21px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28333 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28333_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28334 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:302px;
  width:31px;
  height:21px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28334 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28334_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28335 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:302px;
  width:31px;
  height:21px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28335 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28335_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u28337 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:353px;
  width:246px;
  height:44px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u28337 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u28338 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:355px;
  width:22px;
  height:22px;
  display:flex;
}
#u28338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u28339 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:403px;
  width:91px;
  height:18px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u28339 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28339_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28340_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:427px;
  height:11px;
}
#u28340 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:432px;
  width:421px;
  height:5px;
  display:flex;
}
#u28340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:67px;
}
#u28341 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:353px;
  width:104px;
  height:67px;
  display:flex;
}
#u28341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u28342 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:306px;
  width:15px;
  height:12px;
  display:flex;
}
#u28342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:50px;
  background:inherit;
  background-color:rgba(248, 249, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28344 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:925px;
  width:421px;
  height:50px;
  display:flex;
}
#u28344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28346 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:954px;
  width:78px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28346 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28346_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28346.mouseOver {
}
#u28346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u28347 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:935px;
  width:16px;
  height:16px;
  display:flex;
}
#u28347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28349 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:954px;
  width:78px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28349 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28349_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28349.mouseOver {
}
#u28349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u28350 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:935px;
  width:16px;
  height:16px;
  display:flex;
}
#u28350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28352 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:954px;
  width:78px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28352 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28352_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28352.mouseOver {
}
#u28352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u28353 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:935px;
  width:16px;
  height:16px;
  display:flex;
}
#u28353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28355 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:954px;
  width:78px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28355 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28355_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28355.mouseOver {
}
#u28355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u28356 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:936px;
  width:15px;
  height:15px;
  display:flex;
}
#u28356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u28358 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:459px;
  width:374px;
  height:44px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u28358 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u28359 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:461px;
  width:22px;
  height:22px;
  display:flex;
}
#u28359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u28360 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:509px;
  width:144px;
  height:18px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u28360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28360_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28361_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:427px;
  height:11px;
}
#u28361 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:538px;
  width:421px;
  height:5px;
  display:flex;
}
#u28361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u28363 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:568px;
  width:246px;
  height:44px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u28363 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u28364 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:570px;
  width:22px;
  height:22px;
  display:flex;
}
#u28364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u28365 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:618px;
  width:91px;
  height:18px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u28365 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28365_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28366_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:427px;
  height:11px;
}
#u28366 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:647px;
  width:421px;
  height:5px;
  display:flex;
}
#u28366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:67px;
}
#u28367 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:568px;
  width:104px;
  height:67px;
  display:flex;
}
#u28367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u28369 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:676px;
  width:246px;
  height:44px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u28369 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u28370 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:678px;
  width:22px;
  height:22px;
  display:flex;
}
#u28370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u28371 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:726px;
  width:91px;
  height:18px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u28371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28371_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28372_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:427px;
  height:11px;
}
#u28372 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:755px;
  width:421px;
  height:5px;
  display:flex;
}
#u28372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:67px;
}
#u28373 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:676px;
  width:104px;
  height:67px;
  display:flex;
}
#u28373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u28375 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:785px;
  width:246px;
  height:44px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u28375 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u28376 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:787px;
  width:22px;
  height:22px;
  display:flex;
}
#u28376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u28377 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:835px;
  width:91px;
  height:18px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u28377 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28377_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28378_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:427px;
  height:11px;
}
#u28378 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:864px;
  width:421px;
  height:5px;
  display:flex;
}
#u28378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:67px;
}
#u28379 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:785px;
  width:104px;
  height:67px;
  display:flex;
}
#u28379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28380_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:33px;
  height:7px;
}
#u28380 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:331px;
  width:29px;
  height:3px;
  display:flex;
}
#u28380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28381 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:334px;
  width:44px;
  height:591px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28382 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:337px;
  width:376px;
  height:588px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
