body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1037px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24671 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:193px;
  width:1000px;
  height:173px;
}
#u24672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u24672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u24673 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:0px;
  width:128px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:35px;
}
#u24674 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:613px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
}
#u24675 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:0px;
  width:131px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u24676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:128px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u24677 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:35px;
  width:128px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:35px;
}
#u24678 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:35px;
  width:613px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
}
#u24679 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:35px;
  width:131px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u24680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:128px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u24681 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:70px;
  width:128px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:35px;
}
#u24682 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:70px;
  width:613px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
}
#u24683 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:70px;
  width:131px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u24684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:128px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u24685 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:105px;
  width:128px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:35px;
}
#u24686 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:105px;
  width:613px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
}
#u24687 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:105px;
  width:131px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
}
#u24688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:128px;
  height:33px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
}
#u24689 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:140px;
  width:128px;
  height:33px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:33px;
}
#u24690 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:140px;
  width:613px;
  height:33px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u24691 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:140px;
  width:131px;
  height:33px;
  display:flex;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u24692 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:115px;
  width:105px;
  height:37px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u24692 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24692_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
