body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:561px;
}
#u6213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:561px;
  display:flex;
}
#u6213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:568px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:568px;
  display:flex;
}
#u6214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u6215 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:185px;
  width:272px;
  height:199px;
  display:flex;
}
#u6215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6216 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:239px;
  width:272px;
  height:4px;
  display:flex;
}
#u6216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u6217 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:205px;
  width:31px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u6217 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6217_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 2px 10px rgba(228, 228, 228, 0.349019607843137);
  -webkit-box-shadow:0px 2px 10px rgba(228, 228, 228, 0.349019607843137);
  box-shadow:0px 2px 10px rgba(228, 228, 228, 0.349019607843137);
  font-size:14px;
  color:#FFFFFF;
}
#u6218 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:329px;
  width:108px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 2px 10px rgba(228, 228, 228, 0.349019607843137);
  -webkit-box-shadow:0px 2px 10px rgba(228, 228, 228, 0.349019607843137);
  box-shadow:0px 2px 10px rgba(228, 228, 228, 0.349019607843137);
  font-size:14px;
  color:#FFFFFF;
}
#u6219 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:329px;
  width:108px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u6220 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:271px;
  width:184px;
  height:28px;
  display:flex;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u6220 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u6221 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:209px;
  width:12px;
  height:12px;
  display:flex;
}
#u6221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
