body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1200px;
  background:inherit;
  background-color:rgba(102, 153, 255, 0.0470588235294118);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1200px;
  display:flex;
}
#u26845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:1114px;
}
#u26846 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:43px;
  width:613px;
  height:1114px;
  display:flex;
}
#u26846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26847 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:222px;
  width:422px;
  height:756px;
}
#u26847_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:756px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26847_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:756px;
}
#u26848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:756px;
  display:flex;
}
#u26848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
  background:inherit;
  background-color:rgba(70, 132, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26849 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:225px;
  width:120px;
  height:70px;
  display:flex;
}
#u26849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:22px;
}
#u26850 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:229px;
  width:420px;
  height:22px;
  display:flex;
}
#u26850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'站酷快乐体2016修订版 Bold', '站酷快乐体2016修订版', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u26851 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:261px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'站酷快乐体2016修订版 Bold', '站酷快乐体2016修订版', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u26851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u26852 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:261px;
  width:12px;
  height:21px;
  display:flex;
}
#u26852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u26853 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:261px;
  width:27px;
  height:21px;
  display:flex;
}
#u26853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
}
#u26854 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:270px;
  width:20px;
  height:4px;
  display:flex;
}
#u26854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
  text-align:center;
}
#u26855 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:305px;
  width:120px;
  height:18px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
  text-align:center;
}
#u26855 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26856_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:402px;
  height:7px;
}
#u26856 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:332px;
  width:398px;
  height:3px;
  display:flex;
}
#u26856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:2px;
}
#u26857 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:337px;
  width:398px;
  height:1px;
  display:flex;
}
#u26857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26858 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:338px;
  width:421px;
  height:595px;
}
#u26858_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:595px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26858_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  line-height:36px;
}
#u26859 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:398px;
  height:72px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  line-height:36px;
}
#u26859 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u26860 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:91px;
  width:398px;
  height:18px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u26860 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:32px;
}
#u26861 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:122px;
  width:398px;
  height:448px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:32px;
}
#u26861 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:269px;
}
#u26862 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:602px;
  width:398px;
  height:269px;
  display:flex;
}
#u26862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:32px;
}
#u26863 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:897px;
  width:398px;
  height:448px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:32px;
}
#u26863 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u26864 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:1371px;
  width:45px;
  height:45px;
  display:flex;
}
#u26864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u26865 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1381px;
  width:26px;
  height:26px;
  display:flex;
}
#u26865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFCC00;
}
#u26866 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:1431px;
  width:74px;
  height:20px;
  display:flex;
  color:#FFCC00;
}
#u26866 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26866_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u26867 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1476px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u26867 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26867_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26868_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:401px;
  height:5px;
}
#u26868 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1509px;
  width:398px;
  height:2px;
  display:flex;
}
#u26868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u26869 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1531px;
  width:31px;
  height:31px;
  display:flex;
}
#u26869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u26870 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1539px;
  width:77px;
  height:16px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u26870 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26870_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u26871 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:1539px;
  width:24px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u26871 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26871_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u26872 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1575px;
  width:354px;
  height:20px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u26872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u26873 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1605px;
  width:82px;
  height:17px;
  display:flex;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u26873 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26873_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u26874 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1634px;
  width:354px;
  height:1px;
  display:flex;
}
#u26874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26875 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1537px;
  width:18px;
  height:18px;
  display:flex;
}
#u26875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u26876 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1657px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u26876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26876_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u26877 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1657px;
  width:32px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u26877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26877_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u26878 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1693px;
  width:354px;
  height:20px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u26878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u26879 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1723px;
  width:82px;
  height:17px;
  display:flex;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u26879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u26880 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1752px;
  width:354px;
  height:1px;
  display:flex;
}
#u26880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26881 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1655px;
  width:18px;
  height:18px;
  display:flex;
}
#u26881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u26882 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1767px;
  width:31px;
  height:31px;
  display:flex;
}
#u26882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u26883 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1775px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u26883 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26883_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u26884 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:1775px;
  width:24px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u26884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26884_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u26885 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1811px;
  width:354px;
  height:20px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u26885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u26886 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1841px;
  width:82px;
  height:17px;
  display:flex;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u26886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u26887 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1870px;
  width:354px;
  height:1px;
  display:flex;
}
#u26887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26888 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1773px;
  width:18px;
  height:18px;
  display:flex;
}
#u26888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u26889 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1885px;
  width:31px;
  height:31px;
  display:flex;
}
#u26889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u26890 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1893px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u26890 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u26891 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1893px;
  width:32px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u26891 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26891_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u26892 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1929px;
  width:354px;
  height:20px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u26892 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u26893 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1959px;
  width:82px;
  height:17px;
  display:flex;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u26893 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26893_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u26894 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1988px;
  width:354px;
  height:1px;
  display:flex;
}
#u26894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26895 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1891px;
  width:18px;
  height:18px;
  display:flex;
}
#u26895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u26896 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1771px;
  width:24px;
  height:24px;
  display:flex;
}
#u26896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u26897 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1650px;
  width:30px;
  height:30px;
  display:flex;
}
#u26897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u26898 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1885px;
  width:30px;
  height:30px;
  display:flex;
}
#u26898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u26899 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:2020px;
  width:113px;
  height:20px;
  display:flex;
  color:#CCCCCC;
}
#u26899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26900 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:648px;
  width:421px;
  height:327px;
  display:flex;
}
#u26900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26901_input {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26901_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u26901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u26901 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:661px;
  width:328px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
}
#u26901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26901_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u26901.disabled {
}
#u26902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:269px;
}
#u26902 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:706px;
  width:421px;
  height:269px;
  display:flex;
}
#u26902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
  background:inherit;
  background-color:rgba(70, 132, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(204, 204, 204, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u26903 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:661px;
  width:67px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u26903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
