body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1200px;
  background:inherit;
  background-color:rgba(102, 153, 255, 0.0470588235294118);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1200px;
  display:flex;
}
#u28229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:1114px;
}
#u28230 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:43px;
  width:613px;
  height:1114px;
  display:flex;
}
#u28230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28231 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:222px;
  width:422px;
  height:756px;
}
#u28231_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:756px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28231_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:756px;
}
#u28232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:756px;
  display:flex;
}
#u28232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:22px;
}
#u28233 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:229px;
  width:420px;
  height:22px;
  display:flex;
}
#u28233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u28234 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:261px;
  width:12px;
  height:21px;
  display:flex;
}
#u28234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u28235 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:261px;
  width:27px;
  height:21px;
  display:flex;
}
#u28235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
}
#u28236 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:270px;
  width:20px;
  height:4px;
  display:flex;
}
#u28236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
  text-align:center;
}
#u28237 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:305px;
  width:120px;
  height:18px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
  text-align:center;
}
#u28237 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28238_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:402px;
  height:7px;
}
#u28238 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:332px;
  width:398px;
  height:3px;
  display:flex;
}
#u28238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:2px;
}
#u28239 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:337px;
  width:398px;
  height:1px;
  display:flex;
}
#u28239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28240 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:933px;
  width:421px;
  height:42px;
  display:flex;
}
#u28240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28241_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u28241 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:937px;
  width:266px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
}
#u28241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28241_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u28241.disabled {
}
#u28242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u28242 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:941px;
  width:27px;
  height:27px;
  display:flex;
}
#u28242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u28243 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:939px;
  width:32px;
  height:32px;
  display:flex;
}
#u28243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u28244 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:942px;
  width:27px;
  height:27px;
  display:flex;
}
#u28244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28245 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:338px;
  width:421px;
  height:595px;
}
#u28245_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:595px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28245_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  line-height:36px;
}
#u28246 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:398px;
  height:72px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  line-height:36px;
}
#u28246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u28247 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:91px;
  width:398px;
  height:18px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u28247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:32px;
}
#u28248 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:122px;
  width:398px;
  height:448px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:32px;
}
#u28248 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:269px;
}
#u28249 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:602px;
  width:398px;
  height:269px;
  display:flex;
}
#u28249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:32px;
}
#u28250 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:897px;
  width:398px;
  height:448px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:32px;
}
#u28250 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u28251 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:1371px;
  width:45px;
  height:45px;
  display:flex;
}
#u28251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u28252 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1381px;
  width:26px;
  height:26px;
  display:flex;
}
#u28252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFCC00;
}
#u28253 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:1431px;
  width:74px;
  height:20px;
  display:flex;
  color:#FFCC00;
}
#u28253 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28253_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u28254 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1476px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u28254 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28254_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28255_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:401px;
  height:5px;
}
#u28255 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1509px;
  width:398px;
  height:2px;
  display:flex;
}
#u28255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u28256 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1531px;
  width:31px;
  height:31px;
  display:flex;
}
#u28256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u28257 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1539px;
  width:77px;
  height:16px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u28257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28257_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u28258 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:1539px;
  width:24px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u28258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28258_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u28259 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1575px;
  width:354px;
  height:20px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u28259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u28260 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1605px;
  width:82px;
  height:17px;
  display:flex;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u28260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28260_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u28261 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1634px;
  width:354px;
  height:1px;
  display:flex;
}
#u28261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28262 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1537px;
  width:18px;
  height:18px;
  display:flex;
}
#u28262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u28263 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1657px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u28263 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28263_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u28264 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1657px;
  width:32px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u28264 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28264_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u28265 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1693px;
  width:354px;
  height:20px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u28265 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u28266 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1723px;
  width:82px;
  height:17px;
  display:flex;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u28266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28266_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u28267 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1752px;
  width:354px;
  height:1px;
  display:flex;
}
#u28267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28268 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1655px;
  width:18px;
  height:18px;
  display:flex;
}
#u28268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u28269 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1767px;
  width:31px;
  height:31px;
  display:flex;
}
#u28269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u28270 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1775px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u28270 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28270_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u28271 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:1775px;
  width:24px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u28271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u28272 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1811px;
  width:354px;
  height:20px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u28272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u28273 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1841px;
  width:82px;
  height:17px;
  display:flex;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u28273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u28274 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1870px;
  width:354px;
  height:1px;
  display:flex;
}
#u28274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28275 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1773px;
  width:18px;
  height:18px;
  display:flex;
}
#u28275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u28276 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1885px;
  width:31px;
  height:31px;
  display:flex;
}
#u28276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u28277 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1893px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u28277 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28277_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u28278 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1893px;
  width:32px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u28278 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28278_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u28279 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1929px;
  width:354px;
  height:20px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u28279 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u28280 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1959px;
  width:82px;
  height:17px;
  display:flex;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u28280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28280_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u28281 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1988px;
  width:354px;
  height:1px;
  display:flex;
}
#u28281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28282 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1891px;
  width:18px;
  height:18px;
  display:flex;
}
#u28282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u28283 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1771px;
  width:24px;
  height:24px;
  display:flex;
}
#u28283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28284 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1650px;
  width:30px;
  height:30px;
  display:flex;
}
#u28284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28285 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1885px;
  width:30px;
  height:30px;
  display:flex;
}
#u28285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u28286 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:2020px;
  width:113px;
  height:20px;
  display:flex;
  color:#CCCCCC;
}
#u28286 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28286_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
