body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1200px;
  background:inherit;
  background-color:rgba(102, 153, 255, 0.0470588235294118);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1200px;
  display:flex;
}
#u23589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:1114px;
}
#u23590 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:43px;
  width:613px;
  height:1114px;
  display:flex;
}
#u23590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23591 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:222px;
  width:422px;
  height:756px;
}
#u23591_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:756px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23591_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:756px;
}
#u23592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:756px;
  display:flex;
}
#u23592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:22px;
}
#u23593 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:229px;
  width:420px;
  height:22px;
  display:flex;
}
#u23593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u23594 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:261px;
  width:12px;
  height:21px;
  display:flex;
}
#u23594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u23595 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:261px;
  width:27px;
  height:21px;
  display:flex;
}
#u23595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
}
#u23596 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:270px;
  width:20px;
  height:4px;
  display:flex;
}
#u23596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
  text-align:center;
}
#u23597 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:305px;
  width:120px;
  height:18px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
  text-align:center;
}
#u23597 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23598_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:402px;
  height:7px;
}
#u23598 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:332px;
  width:398px;
  height:3px;
  display:flex;
}
#u23598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:2px;
}
#u23599 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:337px;
  width:398px;
  height:1px;
  display:flex;
}
#u23599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23600 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:933px;
  width:421px;
  height:42px;
  display:flex;
}
#u23600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23601_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23601_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u23601 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:937px;
  width:266px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
}
#u23601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23601_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u23601.disabled {
}
#u23602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u23602 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:941px;
  width:27px;
  height:27px;
  display:flex;
}
#u23602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u23603 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:939px;
  width:32px;
  height:32px;
  display:flex;
}
#u23603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u23604 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:942px;
  width:27px;
  height:27px;
  display:flex;
}
#u23604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23605 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:338px;
  width:421px;
  height:595px;
}
#u23605_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:595px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23605_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  line-height:36px;
}
#u23606 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:398px;
  height:72px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  line-height:36px;
}
#u23606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u23607 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:91px;
  width:398px;
  height:18px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u23607 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:32px;
}
#u23608 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:122px;
  width:398px;
  height:448px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:32px;
}
#u23608 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:269px;
}
#u23609 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:602px;
  width:398px;
  height:269px;
  display:flex;
}
#u23609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:32px;
}
#u23610 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:897px;
  width:398px;
  height:448px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:32px;
}
#u23610 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u23611 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:1371px;
  width:45px;
  height:45px;
  display:flex;
}
#u23611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u23612 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1381px;
  width:26px;
  height:26px;
  display:flex;
}
#u23612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFCC00;
}
#u23613 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:1431px;
  width:74px;
  height:20px;
  display:flex;
  color:#FFCC00;
}
#u23613 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23613_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u23614 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1476px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u23614 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23614_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23615_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:401px;
  height:5px;
}
#u23615 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1509px;
  width:398px;
  height:2px;
  display:flex;
}
#u23615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u23616 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1531px;
  width:31px;
  height:31px;
  display:flex;
}
#u23616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u23617 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1539px;
  width:77px;
  height:16px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u23617 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23617_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u23618 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:1539px;
  width:24px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u23618 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23618_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23619 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1575px;
  width:354px;
  height:20px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23619 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u23620 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1605px;
  width:82px;
  height:17px;
  display:flex;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u23620 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23620_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u23621 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1634px;
  width:354px;
  height:1px;
  display:flex;
}
#u23621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u23622 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1537px;
  width:18px;
  height:18px;
  display:flex;
}
#u23622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u23623 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1657px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u23623 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23623_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u23624 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1657px;
  width:32px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u23624 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23624_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23625 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1693px;
  width:354px;
  height:20px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23625 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u23626 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1723px;
  width:82px;
  height:17px;
  display:flex;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u23626 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23626_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u23627 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1752px;
  width:354px;
  height:1px;
  display:flex;
}
#u23627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u23628 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1655px;
  width:18px;
  height:18px;
  display:flex;
}
#u23628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u23629 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1767px;
  width:31px;
  height:31px;
  display:flex;
}
#u23629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u23630 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1775px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u23630 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23630_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u23631 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:1775px;
  width:24px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u23631 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23631_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23632 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1811px;
  width:354px;
  height:20px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23632 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u23633 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1841px;
  width:82px;
  height:17px;
  display:flex;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u23633 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23633_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u23634 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1870px;
  width:354px;
  height:1px;
  display:flex;
}
#u23634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u23635 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1773px;
  width:18px;
  height:18px;
  display:flex;
}
#u23635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u23636 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1885px;
  width:31px;
  height:31px;
  display:flex;
}
#u23636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u23637 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1893px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFCC00;
}
#u23637 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23637_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u23638 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1893px;
  width:32px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u23638 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23638_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23639 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1929px;
  width:354px;
  height:20px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23639 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u23640 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1959px;
  width:82px;
  height:17px;
  display:flex;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u23640 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23640_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u23641 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1988px;
  width:354px;
  height:1px;
  display:flex;
}
#u23641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u23642 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1891px;
  width:18px;
  height:18px;
  display:flex;
}
#u23642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u23643 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1771px;
  width:24px;
  height:24px;
  display:flex;
}
#u23643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23644 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1650px;
  width:30px;
  height:30px;
  display:flex;
}
#u23644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23645 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1885px;
  width:30px;
  height:30px;
  display:flex;
}
#u23645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u23646 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:2020px;
  width:113px;
  height:20px;
  display:flex;
  color:#CCCCCC;
}
#u23646 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23646_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
