body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2003px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:561px;
}
#u22582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:561px;
  display:flex;
}
#u22582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:1378px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:1378px;
  display:flex;
}
#u22583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:1137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u22584 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:76px;
  width:992px;
  height:1137px;
  display:flex;
}
#u22584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22585 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:121px;
  width:992px;
  height:4px;
  display:flex;
}
#u22585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22586 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:92px;
  width:61px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22586 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22586_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 2px 10px rgba(228, 228, 228, 0.349019607843137);
  -webkit-box-shadow:0px 2px 10px rgba(228, 228, 228, 0.349019607843137);
  box-shadow:0px 2px 10px rgba(228, 228, 228, 0.349019607843137);
  font-size:14px;
  color:#FFFFFF;
}
#u22587 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:1135px;
  width:108px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u22587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 2px 10px rgba(228, 228, 228, 0.349019607843137);
  -webkit-box-shadow:0px 2px 10px rgba(228, 228, 228, 0.349019607843137);
  box-shadow:0px 2px 10px rgba(228, 228, 228, 0.349019607843137);
  font-size:14px;
  color:#FFFFFF;
}
#u22588 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:1135px;
  width:108px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u22588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22589 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:95px;
  width:12px;
  height:12px;
  display:flex;
}
#u22589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22590 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:137px;
  width:57px;
  height:20px;
  display:flex;
}
#u22590 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22590_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22591 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:137px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22591 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22591_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u22592 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:137px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u22592 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22592_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u22593 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:137px;
  width:113px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u22593 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22593_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22594 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:168px;
  width:90px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22594 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22594_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22596 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:201px;
  width:49px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22596 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22596_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:170px;
}
#u22597 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:226px;
  width:109px;
  height:170px;
  display:flex;
}
#u22597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u22598 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:201px;
  width:65px;
  height:20px;
  display:flex;
  color:#555555;
}
#u22598 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22598_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u22599 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:201px;
  width:65px;
  height:20px;
  display:flex;
  color:#555555;
}
#u22599 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22599_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:170px;
}
#u22600 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:226px;
  width:109px;
  height:170px;
  display:flex;
}
#u22600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u22601 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:201px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u22601 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22601_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22602 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:242px;
  width:98px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22602 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22602_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(19, 165, 104, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#13A568;
}
#u22603 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:342px;
  width:72px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#13A568;
}
#u22603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:2px;
}
#u22604 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:413px;
  width:898px;
  height:1px;
  display:flex;
}
#u22604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#A30014;
}
#u22605 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:374px;
  width:72px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#A30014;
}
#u22605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22606 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:226px;
  width:147px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22606_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22607 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:599px;
  width:96px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22607 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22607_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22608 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:823px;
  width:96px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22608 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22608_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22609 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:1051px;
  width:96px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22609 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22609_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22610 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:200px;
  width:212px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22610 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22610_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22611 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:252px;
  width:308px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22611_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22612 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:460px;
  width:147px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22612 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22612_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22613 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:434px;
  width:212px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22613 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22613_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22614 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:486px;
  width:308px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22614 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22614_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22615 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:674px;
  width:147px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22615 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22615_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22616 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:648px;
  width:212px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22616 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22616_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22617 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:700px;
  width:308px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22617 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22617_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22618 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:902px;
  width:147px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22618 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22618_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22619 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:876px;
  width:212px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22619 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22619_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22620 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:928px;
  width:308px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u22620 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22620_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22622 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:424px;
  width:51px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22622 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22622_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:170px;
}
#u22623 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:449px;
  width:109px;
  height:170px;
  display:flex;
}
#u22623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u22624 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:424px;
  width:65px;
  height:20px;
  display:flex;
  color:#555555;
}
#u22624 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22624_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u22625 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:424px;
  width:65px;
  height:20px;
  display:flex;
  color:#555555;
}
#u22625 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22625_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:170px;
}
#u22626 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:449px;
  width:109px;
  height:170px;
  display:flex;
}
#u22626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u22627 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:424px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u22627 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22627_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22628 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:465px;
  width:98px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22628 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22628_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#13A568;
}
#u22629 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:554px;
  width:72px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#13A568;
}
#u22629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:2px;
}
#u22630 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:636px;
  width:898px;
  height:1px;
  display:flex;
}
#u22630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22632 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:648px;
  width:49px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22632 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22632_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:170px;
}
#u22633 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:673px;
  width:109px;
  height:170px;
  display:flex;
}
#u22633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u22634 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:648px;
  width:65px;
  height:20px;
  display:flex;
  color:#555555;
}
#u22634 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22634_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u22635 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:648px;
  width:65px;
  height:20px;
  display:flex;
  color:#555555;
}
#u22635 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22635_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:170px;
}
#u22636 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:673px;
  width:109px;
  height:170px;
  display:flex;
}
#u22636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u22637 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:648px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u22637 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22637_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22638 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:689px;
  width:98px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22638 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22638_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:2px;
}
#u22639 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:860px;
  width:898px;
  height:1px;
  display:flex;
}
#u22639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22640_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:957px;
}
#u22640 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:163px;
  width:4px;
  height:952px;
  display:flex;
  -webkit-transform:rotate(-0.112177130143494deg);
  -moz-transform:rotate(-0.112177130143494deg);
  -ms-transform:rotate(-0.112177130143494deg);
  transform:rotate(-0.112177130143494deg);
  color:#7F7F7F;
}
#u22640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u22641 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:589px;
  width:185px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u22641 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22641_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#6D000E;
}
#u22642 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:765px;
  width:72px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#6D000E;
}
#u22642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u22643 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:823px;
  width:185px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u22643 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22643_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22645 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:876px;
  width:49px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22645 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22645_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:170px;
}
#u22646 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:901px;
  width:109px;
  height:170px;
  display:flex;
}
#u22646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u22647 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:876px;
  width:65px;
  height:20px;
  display:flex;
  color:#555555;
}
#u22647 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22647_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u22648 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:876px;
  width:65px;
  height:20px;
  display:flex;
  color:#555555;
}
#u22648 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22648_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:170px;
}
#u22649 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:901px;
  width:109px;
  height:170px;
  display:flex;
}
#u22649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u22650 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:876px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u22650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22650_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22651 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:917px;
  width:98px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22651 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22651_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:2px;
}
#u22652 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:1088px;
  width:898px;
  height:1px;
  display:flex;
}
#u22652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#6D000E;
}
#u22653 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:986px;
  width:72px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#6D000E;
}
#u22653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u22654 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:1051px;
  width:185px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u22654 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22654_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:48px;
  background:inherit;
  background-color:rgba(240, 249, 235, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#67C23A;
  text-align:left;
  line-height:14px;
}
#u22655 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:79px;
  width:415px;
  height:48px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#67C23A;
  text-align:left;
  line-height:14px;
}
#u22655 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 40px;
  box-sizing:border-box;
  width:100%;
}
#u22655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u22656 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:95px;
  width:16px;
  height:16px;
  display:flex;
}
#u22656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u22657 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:395px;
  width:200px;
  height:1px;
  display:flex;
}
#u22657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666161;
}
#u22658 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:373px;
  width:99px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666161;
}
#u22658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u22659 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:794px;
  width:274px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u22659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u22660 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:1022px;
  width:274px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u22660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u22661 {
  border-width:0px;
  position:absolute;
  left:1471px;
  top:110px;
  width:85px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u22661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u22662 {
  border-width:0px;
  position:absolute;
  left:1473px;
  top:154px;
  width:530px;
  height:98px;
  display:flex;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u22662 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u22662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22663 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:104px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u22663_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:34px;
  height:10px;
}
#u22663_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-9px;
  width:10px;
  height:14px;
}
#u22663_seg2 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-9px;
  width:54px;
  height:10px;
}
#u22663_seg3 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-9px;
  width:10px;
  height:15px;
}
#u22663_seg4 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u22663_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
